# Análise de dados de filmes exebidos no brasil de 2009 a 2017
Com base nos dados da Ancine (http://oca.ancine.gov.br) Vamos analisar of filmes exibidos no Brasil
Arquivo -> 2120_0.xlsx

In [1]:
# Importando as bibliotecas
import pandas as pd
# Configurando o matplotlib
%matplotlib inline

In [8]:
# Criando o DataFrame com base no arquivo exel
# Precisamos pular as duas primeiras linhas (por causa do titulo do arquivo) e as 16 ultimas (lixo)
df = pd.read_excel('2120_0.xlsx', skiprows=2, skipfooter=16)

# Exibindo as 5 primeiras linhas do DataFrame
df.head()

,Ano de exibição,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de lançamento,Distribuidora,Origem da empresa distribuidora,Público no ano de exibição,Renda (R$) no ano de exibição
0,2017,#Screamers,Ficção,Estados Unidos,Estrangeiros,2017-11-30 00:00:00,Cineart Filmes,Distribuição Nacional,714,9437.45
1,2017,10 Centavos para o Número da Besta,Documentário,Brasil,Brasileiros,2017-11-28 00:00:00,Ponto de Equilíbrio,Distribuição Nacional,7,63.00
2,2017,120 batimentos por minuto,Ficção,França,Estrangeiros,2018-01-04 00:00:00,Imovision,Distribuição Nacional,262,3791.63
3,2017,13 Minutos,Ficção,Alemanha,Estrangeiros,2016-11-03 00:00:00,Alphaville Filmes,Distribuição Nacional,620,6463.50
4,2017,150 Miligramas,Ficção,França,Estrangeiros,2017-08-31 00:00:00,Califórnia,Distribuição Nacional,771,10508.71

In [7]:
#Exibindo as 5 ultimas
df.tail(5)

,Ano de exibição,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de lançamento,Distribuidora,Origem da empresa distribuidora,Público no ano de exibição,Renda (R$) no ano de exibição
5686,2009,X-Men Origens: Wolverine,Ficção,Estados Unidos,Estrangeiros,2009-05-01 00:00:00,Fox,Distribuição Internacional,3199434,27352313.00
5687,2009,Xuxa em o Mistério de Feiurinha,Ficção,Brasil,Brasileiros,2009-12-25 00:00:00,Playarte,Distribuição Nacional,250109,1766416.65
5688,2009,Xuxa em Sonho de Menina,Ficção,Brasil,Brasileiros,2007-12-21 00:00:00,Warner,Distribuição Internacional,8914,26880.00
5689,2009,Xuxa Gêmeas,Ficção,Brasil,Brasileiros,2006-12-15 00:00:00,Fox,Distribuição Internacional,1671,5013.00
5690,2009,Zico na Rede,Documentário,Brasil,Brasileiros,2009-07-03 00:00:00,Business Telecom,Distribuição Nacional,546,2529.50

In [9]:
# Verificar todos os tipos das colunas
df.dtypes

Ano de exibição                      int64
Título da obra                      object
Gênero                              object
País(es) produtor(es) da obra       object
Nacionalidade da obra               object
Data de lançamento                  object
Distribuidora                       object
Origem da empresa distribuidora     object
Público no ano de exibição           int64
Renda (R$) no ano de exibição      float64
dtype: object

In [10]:
# Converter o campo Data de lançamento em data
df['Data de lançamento'] = pd.to_datetime(df['Data de lançamento'])

TypeError: invalid string coercion to datetime

In [11]:
# Vamos tentar identificar o problema da coluna Data de lançamento
df['Data de lançamento'].value_counts()

Relançamento           175
2012-12-21 00:00:00     33
2015-12-03 00:00:00     33
2013-11-29 00:00:00     29
2012-11-02 00:00:00     27
2015-11-12 00:00:00     25
2015-11-19 00:00:00     25
2013-10-11 00:00:00     23
2013-11-01 00:00:00     23
2013-12-06 00:00:00     23
2016-11-17 00:00:00     23
2011-12-02 00:00:00     21
2014-11-06 00:00:00     21
2011-11-11 00:00:00     21
2013-09-13 00:00:00     21
2009-12-11 00:00:00     20
2016-11-10 00:00:00     19
2011-12-09 00:00:00     19
2014-06-19 00:00:00     19
2013-12-20 00:00:00     19
2011-09-30 00:00:00     19
2015-08-20 00:00:00     18
2015-12-10 00:00:00     18
2013-09-06 00:00:00     18
2016-11-24 00:00:00     18
2016-12-01 00:00:00     18
2015-11-26 00:00:00     18
2011-11-25 00:00:00     18
2012-10-12 00:00:00     18
2014-12-04 00:00:00     18
                      ...
2013-05-12 00:00:00      1
2017-12-25 00:00:00      1
2018-03-29 00:00:00      1
2005-07-22 00:00:00      1
2008-02-02 00:00:00      1
2003-10-31 00:00:00      1
2005-08-25 00:00:00      1
2009-09-11 00:00:00      1
2007-10-05 00:00:00      1
2009-03-07 00:00:00      1
2014-03-01 00:00:00      1
2005-10-07 00:00:00      1
2006-10-13 00:00:00      1
2005-04-01 00:00:00      1
2013-06-15 00:00:00      1
2012-06-09 00:00:00      1
2004-01-09 00:00:00      1
2008-02-15 00:00:00      1
2011-03-05 00:00:00      1
2007-11-02 00:00:00      1
2015-04-18 00:00:00      1
2005-03-04 00:00:00      1
2015-06-06 00:00:00      1
2006-06-17 00:00:00      1
2004-11-12 00:00:00      1
2008-04-12 00:00:00      1
2007-07-27 00:00:00      1
2011-03-19 00:00:00      1
2006-09-22 00:00:00      1
2016-07-25 00:00:00      1
Name: Data de lançamento, Length: 759, dtype: int64

In [13]:
# Exibir alguns filmes que estao com data relançamento
df[df['Data de lançamento'] == 'Relançamento'].head()

,Ano de exibição,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de lançamento,Distribuidora,Origem da empresa distribuidora,Público no ano de exibição,Renda (R$) no ano de exibição
7,2017,8½,Ficção,"França, Itália",Estrangeiros,Relançamento,F. J. Cines,Distribuição Nacional,29,196.00
11,2017,A bela da tarde,Ficção,"França, Itália",Estrangeiros,Relançamento,Zeta Filmes,Distribuição Nacional,3011,42839.31
36,2017,A História sem Fim,Ficção,"Alemanha, Estados Unidos",Estrangeiros,Relançamento,F. J. Cines,Distribuição Nacional,797,6969.00
53,2017,A primeira noite de um homem,Ficção,Estados Unidos,Estrangeiros,Relançamento,Zeta Filmes,Distribuição Nacional,12,96.00
128,2017,Ballet Bolshoi: A bela adormecida,Vídeomusical,Inglaterra,Estrangeiros,Relançamento,UCI,Distribuição Nacional,1504,41391.00

## Decisão sobre dados incorretos/fantantes/divergentes